@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500;700&family=Hind+Madurai:wght@300;500;700&display=swap");

:root {
	--sea-goddess: #266389;
	--nile: #b2c47c;
	--haunted-candelabra: #504761;
	--sheikh-white: #ededed;
	--ultimate-grey: #ababab;
	--dust-of-the-moon: #cec4db;
}

html,
body {
	min-height: 100%;
	margin: 0 auto;

	font-size: 16px;
	font-family: "Hind Madurai", sans-serif, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

button,
input {
	width: 200px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: inherit;
	font-size: 100%;
}
button {
	box-shadow: none;
	border: none;
}
button:hover {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,
h3 {
	font-family: "Expletus Sans", cursive;
	font-size: 1.2rem;
}
a {
	text-decoration: none;
}
a:any-link {
	color: snow;
}
a:hover {
	color: var(--nile);
}

.container {
	display: grid;
	height: 100%;
	grid-template-columns: minmax(20%, 1fr) 5fr;
	grid-template-rows: 1fr auto;

	box-sizing: border-box;
	background: var(--sheikh-white);
}

.header {
	grid-column: 2;
	grid-row: 1 / 2;
	padding: 1rem 1.4rem;

	background: white;
}
.top-header {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.top-header label {
	display: flex;
	align-items: center;
}
.top-header input {
	width: 100%;
	border-radius: 0.8rem;
	border: 1px solid var(--ultimate-grey);
	background: var(--sheikh-white);
}
.top-header div {
	display: flex;
	margin-left: auto;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
}
.top-header p {
	font-size: 1.2rem;
}
.bottom-header {
	display: grid;
	grid-template-columns: minmax(100px, 3fr) 1fr;
}
.greeting-container {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: start;
	align-items: end;
	gap: 0.8rem;
}
.avatar.big-img {
	grid-column: 1 / 2;
}
.greeting {
	grid-column: 2 / 3;
}
.greeting p,
.greeting h1 {
	margin: 0rem;
}
.controls {
	display: flex;
	margin-left: auto;
	gap: 1rem;
}
.controls button {
	width: 80px;
	margin: 1rem 0rem 1rem 0rem;
	padding: 0.6rem 0rem;

	border-radius: 2rem;
	background: var(--sea-goddess);
	color: snow;
}

.sidebar {
	background: var(--haunted-candelabra);
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	color: snow;
	padding: 1rem;
}
.sidebar h1 {
	font-size: 1.6rem;
}
.sidebar h2 {
	font-size: 1.2rem;
}

.support-links,
nav {
	margin-top: 3rem;
}

.main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-row: 2 / -1;
	grid-column: 2 / -1;
	gap: 2rem;

	padding: 2rem 0rem 2rem 2rem;
}
.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.card {
	padding: 2rem 2rem;
	background: white;

	border-radius: 0.6rem;
	border-left: 8px solid var(--nile);
}
.cardText {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;

	margin-top: 0.4rem;
	font-size: 16px;
	font-family: sans-serif;
	text-align: left;
	max-width: 50ch;
}
.card h3 {
	margin: 0rem;
}
.reactions {
	display: flex;
	justify-content: end;
}
.announce-container,
.trending-container {
	margin-right: 2rem;
	padding: 1rem 1.4rem;

	background: white;
	border-radius: 0.6rem;
}
.announce-container h4 {
	margin: 0rem 0rem 0rem 0rem;
}
.announce-block p {
	margin: 0rem 0rem 1rem 0rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

	font-family: sans-serif;
	text-align: left;
	max-width: 30ch;
}
.announce-block {
	justify-content: center;
	padding-top: 1rem;
	border-bottom: 1px solid var(--ultimate-grey);
}
.announce-block:last-child {
	border: none;
}
.trending-block {
	display: flex;
	padding: 1rem 0rem;
}
.trending-block p {
	margin: 0rem;
	padding-left: 0.5rem;
}
.trending-block div {
	flex: 1;
}
.tag-name {
	font-weight: 700;
}
/* images */
.icon {
	width: 3ch;
	height: auto;
	padding-right: 2ch;
}
.img-link-row {
	display: flex;
	align-items: center;
}
.avatar {
	border-radius: 100%;
}
.small-img {
	width: 5ch;
	height: auto;
}
.avatar.big-img {
	width: 8ch;
	height: auto;
}
.astro {
	background: var(--dust-of-the-moon);
}
